# 파이썬 - 주식 종목 코드 MySQL 저장

## 참고사이트

- https://kang-stock-coding.tistory.com/19
- https://www.dataquest.io/blog/sql-insert-tutorial/

## 데이터 불러오기

In [1]:
import pandas as pd

In [2]:
df = pd.read_html('https://kind.krx.co.kr/corpgeneral/corpList.do?method=download', header=0)[0]
df_stock = df.loc[:,['종목코드', '회사명']]
df_stock.loc[:,'종목코드'] = df_stock.loc[:,'종목코드'].apply(str).str.rjust(6, '0')

In [3]:
df_stock.head(10)

     종목코드     회사명
0  000210      DL
1  004840   DRB동일
2  155660     DSR
3  078930      GS
4  092220     KEC
5  016380  KG동부제철
6  001390   KG케미칼
7  025000  KPX케미칼
8  058860    KTis
9  011070   LG이노텍

## MySQL 연결

In [4]:
# pip install mysqlclient

In [5]:
import MySQLdb

In [6]:
mydb = MySQLdb.connect(
    host="localhost",
    user="root", 
    passwd="1234", 
    db="stock_simulator"
)

mydb.set_character_set('utf8')

mycursor = mydb.cursor()

## MySQL SQL문 실행

### Drop Table

In [7]:
sql_drop_stock_table = (

    "DROP TABLE STOCK"

)

mycursor.execute(sql_drop_stock_table)

0

### Create Table

In [8]:
sql_create_stock_table = (

    "CREATE TABLE STOCK (" +
        "STOCK_CODE VARCHAR(255) NOT NULL, " +
        "STOCK_NAME VARCHAR(255) NOT NULL, " +
        "PRIMARY KEY (STOCK_CODE) " +
    ")"

)

mycursor.execute(sql_create_stock_table)

0

### Insert Data

In [9]:
sql_insert_stock = "INSERT INTO STOCK (STOCK_CODE, STOCK_NAME) VALUES (%s, %s)"
val_insert_stock = []
for i in df_stock.index :
    val_insert_stock.append((df_stock.loc[i,'종목코드'], df_stock.loc[i,'회사명']))
    
mycursor.executemany(sql_insert_stock, val_insert_stock)
mydb.commit()

## MySQL 연결 헤제

In [10]:
mydb.close()