# 종목코드 데이터 불러오기

In [1]:
import pandas as pd

In [110]:
df = pd.read_html('https://kind.krx.co.kr/corpgeneral/corpList.do?method=download', header=0)[0]
df_stock = df.loc[:,['종목코드', '회사명']]
df_stock.loc[:,'종목코드'] = df_stock.loc[:,'종목코드'].apply(str).str.rjust(6, '0')

In [7]:
df

,회사명,종목코드,업종,주요제품,상장일,결산월,대표자명,홈페이지,지역
0,DL,210,기타 금융업,지주회사,1976-02-02,12월,전병욱,http://www.dlholdings.co.kr,서울특별시
1,DRB동일,4840,고무제품 제조업,"고무벨트(V벨트,콘베이어벨트,평벨트),프라스틱제품 제조,판매",1976-05-21,12월,류영식,http://drbworld.com,부산광역시
2,DSR,155660,1차 비철금속 제조업,합섬섬유로프,2013-05-15,12월,홍석빈,http://www.dsr.com,부산광역시
3,GS,78930,기타 금융업,지주회사/부동산 임대,2004-08-05,12월,"허태수, 홍순기 (각자 대표이사)",NaN,서울특별시
4,KG케미칼,1390,기초 화학물질 제조업,"콘크리트혼화제, 비료, 친환경농자재, 수처리제",1989-08-25,12월,"곽정현, 김재익",http://www.kgchem.co.kr,울산광역시
...,...,...,...,...,...,...,...,...,...
2497,코스텍시스템,169670,특수 목적용 기계 제조업,"반도체 웨이퍼 이송장비, 본딩장비",2022-01-21,12월,배준호,http://www.kosteks.com/,경기도
2498,타임기술,318660,소프트웨어 개발 및 공급업,"ILS(종합군수지원), IETM(전자식기술교범), CBT(전자식교보재), 기술번역",2021-06-24,12월,주양효,http://timett.co.kr,경상남도
2499,플럼라인생명과학,222670,자연과학 및 공학 연구개발업,"강아지암치료제,돼지DNA테라피",2015-07-28,12월,김앤토니경태,http://www.plsdna.com,서울특별시
2500,한국미라클피플사,331660,기타 화학제품 제조업,"은나노스텝, 닥터오렌지 등",2019-10-28,12월,이호경,http://www.kmpc.co.kr,경기도
2501,휴벡셀,212310,의료용 기기 제조업,척추용 임플란트 등,2016-07-26,12월,"박정민, 허성규(각자대표)",http://huvexel.com,경기도

In [3]:
df_stock.head(10)

     종목코드     회사명
0  000210      DL
1  004840   DRB동일
2  155660     DSR
3  078930      GS
4  001390   KG케미칼
5  025000  KPX케미칼
6  058860    KTis
7  011070   LG이노텍
8  037560  LG헬로비전
9  108670  LX하우시스

In [111]:
stocks = list(df_stock['종목코드'])

In [112]:
stocks[:10]

['000210',
 '004840',
 '155660',
 '078930',
 '001390',
 '025000',
 '058860',
 '011070',
 '037560',
 '108670']

# 주식 데이터 크롤링

In [118]:
import requests
from bs4 import BeautifulSoup as BS
import re
from datetime import time, datetime

In [119]:
head = {"user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/99.0.4844.84 Safari/537.36"}

In [122]:
def crawl_time_data(code):
    thistime = datetime.now().strftime('%Y%m%d%H%M%S')
    url = 'https://finance.naver.com/item/sise_time.naver?code='+code+'&thistime='+thistime+''
    r = requests.get(url, headers=head)
    bs = BS(r.text, 'lxml')
    
    stock = []
    data = bs.find("table", class_="type2").findAll("tr")[2]
    td = data.findAll("td")
    stock.append([y.text.strip() for y in td])
    print(stock)

In [123]:
crawl_time_data('005930')

[['15:59', '57,400', '200', '57,500', '57,400', '28,024,778', '1']]