## 참고사이트
- https://kang-stock-coding.tistory.com/19
- https://www.dataquest.io/blog/sql-insert-tutorial/

## 종목코드 데이터 불러오기

In [13]:
import pandas as pd

In [2]:
df = pd.read_html('https://kind.krx.co.kr/corpgeneral/corpList.do?method=download', header=0)[0]
df_stock = df.loc[:,['종목코드', '회사명']]
df_stock.loc[:,'종목코드'] = df_stock.loc[:,'종목코드'].apply(str).str.rjust(6, '0')

In [3]:
df_stock.head(10)

     종목코드     회사명
0  000210      DL
1  004840   DRB동일
2  155660     DSR
3  078930      GS
4  001390   KG케미칼
5  025000  KPX케미칼
6  058860    KTis
7  011070   LG이노텍
8  037560  LG헬로비전
9  108670  LX하우시스

In [10]:
stocks = list(df_stock['종목코드'])

In [11]:
type(stocks)

list

In [12]:
stocks[:10]

['000210',
 '004840',
 '155660',
 '078930',
 '001390',
 '025000',
 '058860',
 '011070',
 '037560',
 '108670']

## 주식 데이터 크롤링

In [65]:
import requests
from bs4 import BeautifulSoup as BS
import re

In [18]:
head = {"user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/99.0.4844.84 Safari/537.36"}

In [82]:
def crawl_all_data(code):
    url = 'https://finance.naver.com/item/sise_day.naver?code='+code+'&page=1'
    r = requests.get(url, headers=head)
    bs = BS(r.text, 'lxml')
    
    # 마지막 페이지 구하기
    last_page = int(str(bs.find("table", class_="Nnavi").findAll("a")[-1]).split("맨뒤")[0].replace(">", "").replace("\"", "").split("=")[-1])
    print(last_page)

In [83]:
for x in stocks[:10]:
    crawl_all_data(x)

653
653
224
443
653
535
284
344
237
326

In [ ]:
def crawl_data(code, page):
    url = 'https://finance.naver.com/item/sise_day.naver?code='+code+'&page='+page
    r = requests.get(url, headers=head)
    bs = BS(r.text, 'lxml')

In [84]:
url = 'https://finance.naver.com/item/sise_day.naver?code=047810&page=1'
r = requests.get(url, headers=head)
bs = BS(r.text, 'lxml')

In [85]:
columns = bs.find("table").findAll("tr")[0].text.strip().split("\n")

In [86]:
columns

['날짜', '종가', '전일비', '시가', '고가', '저가', '거래량']

In [37]:
bs.find("table").findAll("tr")[2].findAll("td")[0].text

'2022.06.22'

In [45]:
bs.find("table").findAll("tr")[1].findAll("td")[0].text

''

In [94]:
stock_list = []
for x in bs.find("table").findAll("tr")[2:]:
    td = x.findAll("td")
    if td[0].text == '':
        continue
    stock_list.append([y.text.strip() for y in td])

In [95]:
stock_list

[['2022.06.22', '51,500', '2,100', '54,100', '54,200', '50,900', '1,936,737'],
 ['2022.06.21', '53,600', '1,300', '55,000', '55,200', '51,000', '2,220,817'],
 ['2022.06.20', '54,900', '600', '55,700', '56,300', '53,700', '1,425,432'],
 ['2022.06.17', '54,300', '600', '53,500', '55,300', '53,400', '1,434,389'],
 ['2022.06.16', '54,900', '300', '53,500', '55,900', '52,500', '1,870,420'],
 ['2022.06.15', '54,600', '2,200', '57,500', '57,800', '53,800', '1,915,245'],
 ['2022.06.14', '56,800', '1,300', '57,100', '57,700', '53,300', '2,068,564'],
 ['2022.06.13', '58,100', '0', '59,100', '60,000', '57,300', '1,888,678'],
 ['2022.06.10', '58,100', '200', '57,800', '59,000', '57,200', '1,126,017'],
 ['2022.06.09', '57,900', '1,000', '56,900', '59,000', '56,500', '1,632,417']]